.main{
    background-color: black;
    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.main div{
    background-color: black;
    width: 100%;
}

.qrcode{
    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
}